TAUTH_CONFIG_FILE=/config.yaml
APP_LISTEN_ADDR=:8080
APP_GOOGLE_WEB_CLIENT_ID=991677581607-r0dj8q6irjagipali0jpca7nfp8sfj9r.apps.googleusercontent.com
APP_JWT_SIGNING_KEY=replace-with-random-secret
APP_COOKIE_DOMAIN=
APP_ENABLE_CORS=true
APP_CORS_ALLOWED_ORIGINS=https://localhost:4443,https://127.0.0.1:4443,https://computercat.tyemirov.net:4443
APP_DEV_INSECURE_HTTP=true
APP_DATABASE_URL=sqlite:///data/tauth.db
