APP_LISTEN_ADDR=:8080
APP_GOOGLE_WEB_CLIENT_ID=991677581607-r0dj8q6irjagipali0jpca7nfp8sfj9r.apps.googleusercontent.com
APP_JWT_SIGNING_KEY=replace-with-random-secret
APP_COOKIE_DOMAIN=localhost
APP_ENABLE_CORS=true
APP_CORS_ALLOWED_ORIGINS=http://localhost:8000
APP_DEV_INSECURE_HTTP=true
APP_DATABASE_URL=sqlite:///data/tauth.db
